*{
    font-family: SF Pro Display;
    font-size: 15px;
}
/*@define-color bg #141f2a;*/
@define-color fg #f9f9f9;
@define-color bg rgba(20, 31, 42, 0.8);
@define-color green #2be491;
@define-color gr #363749;
@define-color black #23252e;
@define-color blue #6d7bf7;

window {
    background-color: @bg;
    border-radius: 15px;
}

/*delete gtk artifacts*/
#img:selected {
    background: none;
}
#text:selected {
    background: none;
}

#input {
    margin: 10 0 10 0;
    padding: 5 7 5 7;
    border-radius: 15px;
    border: none;
    border-bottom: 0px solid @fg;
    background-color: @bg;
    color: @fg;
    border-bottom: solid 2px @blue;
    border-right: solid 2px @blue;
	border-top: solid 2px @blue;
	border-left: solid 2px @blue;

}
#inner-box {
    padding: 10 10 10 10;
	border-radius: 15px;
}
#outer-box {
    margin: 20px;
    padding: 0px;
}
#text {
	padding: 8px;
	margin: 2px;
	color: @fg;
}
#entry {
	padding: 0 15px;
    outline: none; 
}
#entry:nth-child(even){
	padding: 0 15px;
}
#entry:selected {
	border-radius: 15px;
	background-color: @bg;
    border-right: solid 2px @blue;
	border-left: solid 2px @blue;
}
#text:selected {
	color: @fg;
}

